html{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e5e5e5;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(43, 86, 226);
  font-size: 45px;
  margin-top: 50px;
}